.header {
  background: var(--mainBlue);
  border-bottom: 1px solid var(--mainDark);
  padding: var(--spacing-medium) 0;
}

.page-title {
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  margin: 0;
}

.icon-btn {
  border-radius: 50%;
  height: 42px;
  margin-right: var(--spacing-medium);
  position: relative;
  transition: background 0.3s;
  width: 42px;

  &:hover {
    background: rgba(0, 0, 0, 0.2);
  }

  svg {
    bottom: 50%;
    fill: var(--mainDark);
    height: 28px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 28px;
  }
}
