.section-header {
  background: var(--mainBlue);
  border-bottom: 1px solid var(--mainDark);
  padding: var(--spacing-large);

  .container {
    align-items: center;
    display: flex;
  }

  svg {
    fill: #fff;
    height: 20px;
    width: 20px;
  }
}
